<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand><a class="navbar-brand" href="#">Social Media Feed</a></mdb-navbar-brand>
</mdb-navbar>
<div class="container-fluid">
  <div class="row mt-1">
    <div class="col-md-6 mx-auto">
        <div id="fb-root">
          </div>
          <script async defer src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>
          <!-- <div class="fb-page" data-href="https://www.facebook.com/Najibabadthe-dream-town-566005996791253" data-tabs="timeline" data-width="200"
            data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/Najibabadthe-dream-town-566005996791253" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/Najibabadthe-dream-town-566005996791253">Najibabad..the dream town</a>
            </blockquote>
          </div> -->
          <div class="fb-page" data-href="https://www.facebook.com/HCLTechnologies/" 
            data-tabs="timeline" data-width="800"
            data-height="580" data-small-header="false" 
            data-adapt-container-width="true" data-hide-cover="false"
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/HCLTechnologies/"
             class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/HCLTechnologies/">HCLTECH</a>
            </blockquote>
          </div>
      </div>
      </div>
</div>